@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}
.reset-tw, .reset-tw *{
  all: revert !important;
}

.cl-drawerRoot *{
  z-index:10;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide-left {
  animation: slide-left 26s linear infinite;
}
